<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="redisClient" class="com.civism.dao.impl.RedisClientImpl">
        <property name="redisTemplate" ref="redisTemplate"/>
    </bean>

    <!--加载Redis的配置文件-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:META-INF/spring-jedis.properties</value>
            </list>
        </property>
    </bean>

    <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="minIdle" value="${sso.redis.minIdle}"/>
        <property name="maxIdle" value="${sso.redis.maxIdle}"/>
        <property name="maxTotal" value="${sso.redis.maxTotal}"/>
        <property name="maxWaitMillis" value="${sso.redis.maxWaitMillis}"/>
        <property name="testOnBorrow" value="${sso.redis.testOnBorrow}"/>
    </bean>

    <!--配置Jedis的连接信息-->
    <bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
          p:hostName="${sso.redis.host}" p:port="${sso.redis.port}" p:password="${sso.redis.password}"
          p:poolConfig-ref="poolConfig" lazy-init="true"/>


    <bean id="redisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

</beans>